* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  background-attachment: fixed;

}

form {
  margin: auto;
  margin: 40px auto 40px auto;
  border: 1px grey solid;
  border-radius: 5px;
  background-color: white;
  height: 100%;
  width: 50%;
}

.btn-success {
  background-color: rgba(155, 89, 182, 0.6)
}

.btn-success:hover {
  background-color: rgba(196, 102, 0, 0.6)
}